.item{
    width: 30%;
    margin-bottom: 50px;
    background: rgb(0, 137, 161);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;

    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        transition: transform 1000ms ease;
        cursor: pointer;
    }

    img:hover{
        transform:scale(1.05);
    }
}