header{
    position: relative;
    
    .empty{

        h2{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .logo{
        font-weight: 600;
        font-size:26px ;
    }

    .nav{
        float: right;
        list-style: none;
        li{
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            transition: opacity 500ms ease;
        }
        li:hover{
            opacity: 0.5;
        }
    }

    .shopCartButton {
        float: right;
        cursor: pointer;
        font-size: 20px;
        transition: color 500ms ease;

        &:hover,
        &.active {
            color: rgb(255, 0, 0) !important;
        }
    }

    .shopCart {
        position: absolute;
        top: 30px;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: #fafafa;
        z-index: 1000;
        pad: 20px;
        padding-bottom: 0;

    }

    .presentation{
        margin:50px 0;
        background:url(./../../assets/slide1.jpg);
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        // background-blend-mode:multiply ;
        // background-color: rgb(102, 102, 102); наслаивает эффект цвета на изображение
        position: relative;
        border-radius: 15px;
    }

    .presentation::after{
        content: "Лучшая выпечка для вас и вашей семьи";
        color: antiquewhite;
        position: absolute;
        top: 100px;
        left: 50px;
        width: 350px;
        font-size: 40px;
        //в зависимости от моих настроек
    }
    .presentation::before{
        content: "по низкой цене";
        color: antiquewhite;
        position: absolute;
        top: 300px;
        left: 50px;
        width: 350px;
        font-size: 40px;
        //в зависимости от моих настроек
    }
}